@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Outfit;
  src: url("../../public/fonts/Outfit/Outfit-Regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("../../public/fonts/Raleway/Raleway-Regular.ttf");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FFF5F0;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Outfit, sans-serif;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  width: calc(320px * 6); /* تعداد آیتم‌های داخل اسلایدر */
  animation: scroll 15s linear infinite;
}

.slide {
  min-width: 320px;
  flex-shrink: 0;
}
